/* 全局引入字体 */

@font-face {
  font-family: "ZhuZiAWan"; /* FOT筑紫A丸 + Google Sans 简 D */
  src: url("https://cdn.staticaly.com/gh/Aphcity/aphcity.github.io@gh-page/fontsdest/ZhuZiAWan.woff")
      format("woff"),
    url("https://cdn.staticaly.com/gh/Aphcity/aphcity.github.io@gh-page/fontsdest/ZhuZiAWan.ttf")
      format("truetype"); /* 字体文件路径 */
  font-display: swap;
}

@font-face {
  font-family: "FZFWZhuZiAYuanJWD"; /* 方正FW筑紫A圆 简 D */
  src: url("https://cdn.staticaly.com/gh/Aphcity/aphcity.github.io@gh-page/fontsdest/FZFWZhuZiAYuanJWD.woff")
      format("woff"),
    url("https://cdn.staticaly.com/gh/Aphcity/aphcity.github.io@gh-page/fontsdest/FZFWZhuZiAYuanJWD.ttf")
      format("truetype"); /* 字体文件路径 */
  font-display: swap;
}

@font-face {
  font-family: "FiraCode"; /* Fira Code */
  src: url("https://cdn.staticaly.com/gh/Aphcity/aphcity.github.io@gh-page/fontsdest/FiraCode-VF.woff")
      format("woff"),
    url("https://cdn.staticaly.com/gh/Aphcity/aphcity.github.io@gh-page/fontsdest/FiraCode-VF.ttf")
      format("truetype"); /* 字体文件路径 */
  font-display: swap;
}

/*
    iconfont fontclass引用
*/

@font-face {
  font-family: "iconfont"; /* Project id 3171217 */
  src: url("//at.alicdn.com/t/c/font_3171217_qnk4zov2wvp.woff2?t=1676340705938")
      format("woff2"),
    url("//at.alicdn.com/t/c/font_3171217_qnk4zov2wvp.woff?t=1676340705938")
      format("woff"),
    url("//at.alicdn.com/t/c/font_3171217_qnk4zov2wvp.ttf?t=1676340705938")
      format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-music:before {
  content: "\e733";
}

.icon-movies:before {
  content: "\e8c4";
}

.icon-steam:before {
  content: "\ec22";
}

.icon-bilibili:before {
  content: "\e75d";
}

.icon-gmail:before {
  content: "\edc5";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-netease-cloud-music:before {
  content: "\e76a";
}

.icon-leetcode:before {
  content: "\ebf2";
}

/* 
    卡片处小图标  
*/

.social-icon .iconfont {
  font-size: 21px;
  font-weight: normal;
}

.social-icon .icon-leetcode {
  color: #ffa116;
}

.social-icon .icon-gmail {
  color: #c53929;
}

.social-icon .icon-netease-cloud-music {
  color: #d50000;
}

.social-icon .icon-QQ {
  color: #23ade5;
}

.social-icon .icon-bilibili {
  color: #fb7299;
}

/* 
    导航栏小图标  
*/
.menus_item_child .icon-music {
  color: #fa243c;
}
.menus_item_child .icon-bilibili {
  color: #fb7299;
}
.menus_item_child .icon-movies {
  color: #2d963d;
}
.menus_item_child .icon-steam {
  color: #23ade5;
}
