@font-face {
    font-family: "FZFW ZhuZi A YuanS D";
    src: url("FZFWZhuZiAYuanJWD.eot"); /* IE9 */
    src: url("FZFWZhuZiAYuanJWD.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("FZFWZhuZiAYuanJWD.woff2") format("woff2"), /* chrome 36+, firefox 39+,iOS 10+, Android 67+ */
    url("FZFWZhuZiAYuanJWD.woff") format("woff"), /* chrome, firefox */
    url("FZFWZhuZiAYuanJWD.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("FZFWZhuZiAYuanJWD.svg#FZFW ZhuZi A YuanS D") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


